<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  
  <br />
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/BHB28">BHB</a>. Just a noob on a mission to escape the corporate rat race and move on to a more rewarding, fulfilling, and graitfying career.
  </p>
  <p>
    After graduating with a double major in Business Administration and Public Relations, he is looking to pursue his life-long passion of technology to create positive change for himself.
  </p>
  <p>
    If you want to learn how to code for yourself, you can start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:10px;">
      <%= image_tag 'headshot.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ben "BHB" Schneider</h2>
      <br />
      <p>
        Ben Schneider is a aspiring web developer and software engineer. He has worked in the property management & customer service industries since graudating college at Coe College in Cedar Rapids, IA. He enjoys sports, music and video games in his spare time. You can find him streaming video games at (<a target="_blank" href="https://www.twitch.tv/heisenbhb">Twitch.tv</a>)
      </p>
    </div>
  </div>
  <br class="clear" />


</div>


<br class="clear" />
<br />
<br />
<br />
<br />